<div class="container row mx-auto">
    <div class="col">

    </div>
    <div class="col"></div>
</div>
<div class="container row mx-auto">
    <div class="card col px-0">
        <div class="card-header">
            <h4 class="card-title">Did Read:</h4>
        </div>
        <div class="card-body">
            <ol>
                <li>Book</li>
                <li>Other Book</li>
                <li>More Books</li>
            </ol>
        </div>


    </div>
    <div class="card col px-0">
        <div class="card-header">
            <h4 class="card-title">Will Read:</h4>
        </div>
    </div>
</div>